default:
    suites:
        default:
            contexts:
                - App\Features\Context\ApiContext:
                    client : '@test.client'
                - App\Features\Context\FeatureContext: ~
                - App\Features\Context\JsonContext:
                    jsonInspector: '@json_inspector'
                    jsonSchemaBaseUrl: 'features/json_schema/'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        BehatExtension\DoctrineDataFixturesExtension\Extension:
            lifetime:    'feature'
            autoload:    true
            directories: ~
            fixtures:    ~
