default:
    suites:
        default:
            contexts:
                - Alsciende\Behat\ApiContext:
                    client : '@test.client'
                - Alsciende\Behat\JsonContext:
                    jsonSchemaBaseUrl: 'features/json_schema/'
                - Alsciende\Behat\DoctrineContext:
                    doctrine: '@doctrine'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        BehatExtension\DoctrineDataFixturesExtension\Extension:
            lifetime:    'feature'
            autoload:    true
            directories: ~
            fixtures:    ~
