default:
    suites:
        default:
            contexts:
                - App\Features\Context\RestApiContext:
                    client : '@test.client'
                - App\Features\Context\FeatureContext: ~

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        BehatExtension\DoctrineDataFixturesExtension\Extension:
            lifetime:    'feature'
            autoload:    true
            directories: ~
            fixtures:    ~
